<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Sign Up</h2>
    <form th:action="@{/signup}" th:object="${user}" method="post" class="mt-4">
        
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <p>5-20 characters, can contain letters, numbers, and underscores</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{id}" id="id" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <p>At least 8 characters, can contain letters, numbers, and underscores</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" th:field="*{password}" id="password" class="form-control" required>
            </div>
        </div>

        <!-- Display error message -->
        <div th:if="${errorMessage}" class="alert alert-danger text-center">
            <p class="my-auto font-weight-bold" th:text="${errorMessage}"></p>
        </div><br>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
</body>
</html>
