<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Poker 役判定 2Players</title>
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" type="text/javascript"></script>
    <link th:href="@{/CSS.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/selectCard.js}" type="text/javascript"></script>
    <script th:src="@{/judgeHand.js}" type="text/javascript"></script>
    <script th:src="@{/event.js}" type="text/javascript"></script>
    <script th:src="@{/countdown.js}" type="text/javascript"></script>
    <script th:src="@{/global_value.js}" type="text/javascript"></script>
</head>

<body class="m-3">
    <h1>Poker 役判定練習 2Players</h1>
    <p>赤色カードがPlayer1のハンド、青色カードがPlayer2のハンド、下5枚がボードです。</p>
    <div id="container">
        <!-- カウントダウン表示 -->
        <h2 id="countdown"></h2>
    
        <!-- モーダルのトリガーボタン -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-gear-fill"></i>
        </button>
    </div>
    <div id = boardImage01 class="boardImage">
        <hr>
        <img class="imageRed" th:src="@{'/card/' + ${imageTypeHand0111} + '/' + ${imageNumberHand0111} + '.png'}" alt="Loading…" width=100>
        <img class="imageRed" th:src="@{'/card/' + ${imageTypeHand0112} + '/' + ${imageNumberHand0112} + '.png'}" alt="Loading…" width=100 style="margin-right: 104px;">
        <img class="imageBlue" th:src="@{'/card/' + ${imageTypeHand0121} + '/' + ${imageNumberHand0121} + '.png'}" alt="Loading…" width=100>
        <img class="imageBlue" th:src="@{'/card/' + ${imageTypeHand0122} + '/' + ${imageNumberHand0122} + '.png'}" alt="Loading…" width=100>
        <hr>
        <img th:src="@{'/card/' + ${imageTypeBoard011} + '/' + ${imageNumberBoard011} + '.png'}" alt="Loading…" width=100>
        <img th:src="@{'/card/' + ${imageTypeBoard012} + '/' + ${imageNumberBoard012} + '.png'}" alt="Loading…" width=100>
        <img th:src="@{'/card/' + ${imageTypeBoard013} + '/' + ${imageNumberBoard013} + '.png'}" alt="Loading…" width=100>
        <img th:src="@{'/card/' + ${imageTypeBoard014} + '/' + ${imageNumberBoard014} + '.png'}" alt="Loading…" width=100>
        <img th:src="@{'/card/' + ${imageTypeBoard015} + '/' + ${imageNumberBoard015} + '.png'}" alt="Loading…" width=100>

        <hr>

        <div class="d-flex" id="button-container">
            <button class="btn btn-danger custom-button" onclick="hideButtonsAndShowNext(1)">Player1</button>
            <button class="btn btn-secondary custom-button" onclick="hideButtonsAndShowNext(0)">Chop</button>
            <button class="btn btn-primary custom-button" onclick="hideButtonsAndShowNext(2)">Player2</button>
        </div>
        <h2><span id="judgeHandmain01" style="display: none;"></span></h2>
        <h3><span id="judgeHandsub01" style="display: none;"></span></h3>
        <form th:action="@{/twoPlayers}" method="post">
            <input type="hidden" id="countdown" name="countdown" th:value="${countdownInit}">
            <button type="submit" class="btn btn-secondary" id="next-button">Next...</button>
        </form>        
        <div id="circle01" class="circle"></div>
        <div id="cross01" class="cross"></div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
            let playerNum =  /*[[${playerNum}]]*/ 'default';
            let boardNum =  /*[[${boardNum}]]*/ 'default';
            let countdownInit =  /*[[${countdownInit}]]*/ 'default';
            var imageTypeHand0111 = /*[[${imageTypeHand0111}]]*/ 'default';
            var imageNumberHand0111 = /*[[${imageNumberHand0111}]]*/ 'default';
            var imageTypeHand0112 = /*[[${imageTypeHand0112}]]*/ 'default';
            var imageNumberHand0112 = /*[[${imageNumberHand0112}]]*/ 'default';
            var imageTypeHand0121 = /*[[${imageTypeHand0121}]]*/ 'default';
            var imageNumberHand0121 = /*[[${imageNumberHand0121}]]*/ 'default';
            var imageTypeHand0122 = /*[[${imageTypeHand0122}]]*/ 'default';
            var imageNumberHand0122 = /*[[${imageNumberHand0122}]]*/ 'default';
            var imageTypeBoard011 = /*[[${imageTypeBoard011}]]*/ 'default';
            var imageNumberBoard011 = /*[[${imageNumberBoard011}]]*/ 'default';
            var imageTypeBoard012 = /*[[${imageTypeBoard012}]]*/ 'default';
            var imageNumberBoard012 = /*[[${imageNumberBoard012}]]*/ 'default';
            var imageTypeBoard013 = /*[[${imageTypeBoard013}]]*/ 'default';
            var imageNumberBoard013 = /*[[${imageNumberBoard013}]]*/ 'default';
            var imageTypeBoard014 = /*[[${imageTypeBoard014}]]*/ 'default';
            var imageNumberBoard014 = /*[[${imageNumberBoard014}]]*/ 'default';
            var imageTypeBoard015 = /*[[${imageTypeBoard015}]]*/ 'default';
            var imageNumberBoard015 = /*[[${imageNumberBoard015}]]*/ 'default';
        /*]]>*/
    
        makeHands(1, 2);       
    </script>

    <!-- モーダル -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/twoPlayers}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">カウントダウン設定</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="seconds-input" name="countdown" class="form-control">
                        <option th:each="sec : ${#numbers.sequence(1, 200)}" th:value="${sec/10.0}" th:text="${sec/10.0 + '秒'}" th:selected="${sec == 100}"></option>
                    </select>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-primary">設定</button>
                </div>
            </form>
        </div>
        </div>
    </div>


</body>

</html>
