<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>アップデート情報</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Poker役判定練習サービス アップデート情報</h1>
        <div id="accordion">
            
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse010302">
                        ver1.3.2 - 2023年5月31日
                    </a>
                </div>
                <div id="collapse010302" class="collapse show" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>【不具合の修正】</b></h5>
                          <p class="card-text">Aを含むツーペアの判定においてミスジャッジが発生する問題を修正しました</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 以下のカードを他のバージョンのために繰り返す -->
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse010301">
                        ver1.3.1 - 2023年5月31日
                    </a>
                </div>
                <div id="collapse010301" class="collapse" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>【不具合の修正】</b></h5>
                          <p class="card-text">表記ずれを修正しました</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 他のアップデート情報を追加 -->
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse010300">
                        ver1.3.0 - 2023年5月30日
                    </a>
                </div>
                <div id="collapse010300" class="collapse" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>【機能追加・機能改善】</b></h5>
                          <p class="card-text">制限時間を設けることができるようになりました</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse010202">
                        ver1.2.2 - 2023年5月27日
                    </a>
                </div>
                <div id="collapse010202" class="collapse" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>【不具合の修正】</b></h5>
                          <p class="card-text">２ペアの判定において、Aペア以外に2つのペアがあった時にミスジャッジをしている問題を修正しました</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse010201">
                        ver1.2.1 - 2023年5月27日
                    </a>
                </div>
                <div id="collapse010201" class="collapse" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>【不具合の修正】</b></h5>
                          <p class="card-text">解答を行った際に○×表記が崩れてしまう問題を修正しました</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse010200">
                        ver1.2.0 - 2023年5月25日
                    </a>
                </div>
                <div id="collapse010200" class="collapse" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>【機能追加・機能改善】</b></h5>
                          <p class="card-text">2playersで役判定を行う際、ボタンにて解答できるようになりました</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse010100">
                        ver1.1.0 - 2023年5月23日
                    </a>
                </div>
                <div id="collapse010100" class="collapse" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>【機能追加・機能改善】</b></h5>
                          <p class="card-text">2playersでの役判定練習サービスを実装しました</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse010000">
                        ver1.0.0 - 2023年5月21日
                    </a>
                </div>
                <div id="collapse010000" class="collapse" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>【機能追加・機能改善】</b></h5>
                          <p class="card-text">Poker役判定練習サービスを公開しました</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
